@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The Distcomp project is a collaborative effort between Microsoft and Stanford, under the Stanford Data Science Initiative.</p>
