@{
    ViewData["Title"] = "Home Page";
}


@*<div class="row">
        <ul>
            <li></li>
         </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
        <h1>Distcomp</h1>
        <ul>
        <li>
            Distcomp meets the needs of clinics, community practices, and research hospitals that would benefit from pooling data to create large datasets,
            but are restricted by privacy concerns from revealing their data. It offers an alternative by creating a "virtual" data registry
            for clinical data modeling that does not require sharing patient data,
            but uses a distributed inference algorithm that just shares statistics to create pooled statistical models equivalent to the model
            possible from the entire dataset.
        </li>
    </ul>
            </div>
    <div class="col-md-3">
        <h1>Network</h1>
        <ul>
            <li style="list-style-type:none">
                <img src="~/images/starnet.png" alt="distributed computing network" width="380" />
            </li>
        </ul>
    </div>
</div>*@
<div>
    <h1>Distcomp</h1>
    <div class="row">
        <div class="image col-md-6"><img src="~/images/starnet.png" alt="distributed computing network" width="500"/></div>
        <div class="col-md-6">
            <b>Distcomp</b> meets the needs of clinics, community practices, and research hospitals that would benefit from pooling data to create large datasets,
            but are restricted by privacy concerns from revealing their data. It offers an alternative by creating a "virtual" data registry for clinical data modeling that does not
            require sharing patient data, but uses a distributed inference algorithm that just shares statistics to create pooled statistical models equivalent to the model possible
            from the entire dataset.
            <br> &nbsp;&nbsp;&nbsp;&nbsp;This implementation of the Distcomp architecture on <b>Microsoft Azure</b> uses Microsoft Machine Learning Server in conjunction with several Azure services
            such as the Sql Azure, App Service and allows for an easier deployment, maintenance while offering Enterprise grade SLA and security of the distcomp network. The current 
            web site models a <b>Central Registry</b> the central site that manages all participants in addition to performing the core computation brokering work.
        </div>
    </div>    
</div>

